img {
  display: block;
  width: 100%;
}

.room-container {
  display: flex;
  margin: 0 1em;
  min-height: 80vh;
  position: relative;
  z-index: 0;
}

.left-section {
  z-index: 1;
  width: 30%;
}
.contacts-heading {
  text-decoration: underline;
}
.room-contact-list {
  width: 100%;
}
.room-contact {
  width: 100%;
  display: flex;
  overflow-x: hidden;
  margin-left: 0.5em;
}

.room-contact img {
  width: 25%;
}
.room-contactDetails {
  margin-left: 1em;
  overflow-x: hidden;
}
.room-contactDetails h1 {
  text-overflow: ellipsis;
}
.right-section {
  width: 100%;
  /* width: max-content; */
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url("https://source.unsplash.com/random/?nature,forest,city");
  background-color: rgba(24, 23, 23, 0.705);
  background-blend-mode: overlay;
  background-size: cover;
  z-index: -2;
  background-position: center;
  overflow-y: hidden;
}
.room-message-container {
  flex: 1 1 auto;
  width: 100%;
  height: 0px;
  display: block;
  /* flex-direction: column; */
  /* justify-content: flex-end; */
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  scrollbar-width: thin;
  scrollbar-color: rgba(151, 151, 151, 0.35) rgb(151, 151, 151);
}
.room-message-container span {
  font-weight: 400;
  opacity: 0.6;
  /* margin: 0; */
  /* padding: 0; */
}
.room-message-container p {
  margin: 0;
}

.room-message-container::-webkit-scrollbar {
  width: 0.5em; /* width of the entire scrollbar */
}

.room-message-container::-webkit-scrollbar-track {
  background: rgba(151, 151, 151, 0.35);
}

.room-message-container::-webkit-scrollbar-thumb {
  background-color: rgb(151, 151, 151);
  border-radius: 0.5rem;
}

.room-message-block {
  width: 70%;
  margin: 0.5em;
  padding: 0.4em;
  font-weight: 700;
  border-radius: 0.5em;
  justify-self: flex-end;
  overflow-wrap: break-word;
}

.in-comming {
  background-color: rgb(84, 136, 170);

  align-self: flex-start;
  margin-left: 1%;
}

.out-going {
  background-color: rgb(84, 136, 173);

  align-self: flex-end;
  margin-left: 28%;
}

.room-message-form {
  display: flex;
  justify-content: flex-end;
}
.room-contactDetails {
  width: 90%;
  background-color: rgba(138, 137, 153, 0.672);
  margin: 0;
  border-radius: 0.2em;
}
.room-text07 {
  font-weight: 400;
  font-size: 2em;
  margin-left: 0.5em;
}

.room__roomId {
  margin: 0;
  font-size: 2rem;
  margin-inline: 1em;
  font-weight: 600;
}
.room__roomId span {
  font-weight: 400;
  font-size: 0.8em;
  background: rgba(175, 171, 184, 0.597);
  padding: 0.2em 0.5em;
  border-radius: 0.2em;
}

.mobile__room__exit {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  /* justify-content: start; */
}
.mobile__room__exit .room__roomId {
  font-size: 1.5rem;
}
.mobile__room__exit a {
  margin-left: 1em;
  margin-top: 0.8em;
}
.mobile__room__exit a p {
  margin: 0;
}

@media screen and (max-width: 700px) {
  .room-container {
    flex-direction: column;
  }
  .left-section {
    width: 100%;
    position: absolute;
    background-color: white;
    height: 100%;
    display: none;
  }
  /* .right-section {
    display: none;
  } */
}
