.room-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.room-header {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.room-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.room-burger-menu {
  display: none;
}
.room-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.room-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.room-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.room-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.room-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.room-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.room-btn-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.room-container2 {
  flex: 1;
  width: 100%;
  min-height: 80vh;
  display: flex;
  justify-content: flex-start;
  margin: 0 1em;
}
.room-container3 {
  flex: 0 0 auto;
  width: var(--dl-size-size-xxlarge);
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
  justify-content: flex-start;
}
.room-text05 {
  width: 100%;
  align-self: flex-start;
}
.room-contact-list {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
.room-contact {
  flex: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.room-image {
  width: 25%;
  object-fit: cover;
}
.room-container4 {
  flex: 0 0 auto;
  width: 70%;
  height: 80%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.room-text07 {
  font-size: 1.5em;
}
.room-text08 {
  font-size: 0.8em;
}
.room-container5 {
  flex: 1;
  width: 100%;

  /* margin-right: 1em; */
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-end;
  background-image: url("https://images.unsplash.com/photo-1619441207978-3d326c46e2c9?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDF8fG5hdHVyZSUyMGJhY2tncm91bmR8ZW58MHx8fHwxNjQ1Nzc5NzQ0&ixlib=rb-1.2.1&w=1500");
  background-position: center;
}
.room-message-container {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
}
.room-message-block-o {
  flex: 0;
  width: 80%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-self: flex-end;
  margin-top: 1em;
  align-items: center;
  margin-left: var(--dl-space-space-oneandhalfunits);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: 1em;
  justify-content: flex-start;
  list-style-type: disc;
  background-color: rgba(131, 173, 80, 0.94);
  list-style-image: none;
  list-style-position: outside;
}
.room-text09 {
  color: #0d0333;
  font-style: normal;
  font-weight: 600;
}
.room-message-block-i {
  flex: 0;
  width: 80%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-self: flex-start;
  margin-top: 1em;
  align-items: center;
  margin-left: var(--dl-space-space-oneandhalfunits);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: 1em;
  justify-content: flex-start;
  list-style-type: disc;
  background-color: rgba(160, 199, 111, 0.94);
  list-style-image: none;
  list-style-position: outside;
}
.message-text {
  color: #0d0333;
  font-style: normal;
  font-weight: 600;
}
.room-message-form-container {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.room-button {
  margin-left: var(--dl-space-space-unit);
  padding-left: 2rem;
  padding-right: 2rem;
}
@media (max-width: 767px) {
  .room-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .room-btn-group {
    display: none;
  }
  .room-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .room-mobile-menu {
    display: flex;
  }
  .room-btn-group1 {
    display: none;
  }
}
@media (max-width: 479px) {
  .room-header {
    padding: var(--dl-space-space-unit);
  }
  .room-mobile-menu {
    height: auto;
    padding: var(--dl-space-space-oneandhalfunits);
    margin-top: var(--dl-space-space-fiveunits);
  }
  .room-nav {
    position: relative;
  }
  .room-container1 {
    position: relative;
    margin-bottom: 0px;
  }
  .room-menu-close {
    top: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    position: absolute;
  }
  .room-btn-group1 {
    display: flex;
    align-self: center;
    margin-top: 0em;
    margin-bottom: 0px;
  }
  .room-container3 {
    display: none;
  }
  .room-message-form-container {
    position: relative;
  }
  .room-message-form {
    flex: 1;
    padding: var(--dl-space-space-oneandhalfunits);
    align-items: stretch;
  }
  .room-textarea {
    width: 65%;
    height: 100%;
    margin-right: 0px;
  }
  .room-button {
    width: 30%;
    height: 100%;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0rem;
    padding-right: 0rem;
  }
}
